/* Reset default margin and padding */
body, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Style for header and navigation */
  header {
    background-color: #FFA500;
    color: #fff;
    padding: 20px 0;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    position: relative;
  }
  
  /* Garis bawah untuk link yang aktif */
  .nav-links li a.active::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px; /* Sesuaikan jarak garis dengan teks */
    left: 0;
    width: 100%;
    height: 2px; /* Ketebalan garis */
    background-color: #fff; /* Warna garis aktif */
  }
  
/* Style for parallax container */
.parallax-container {
    position: relative;
    width: 100%;
    height: 500px; /* Atur tinggi banner sesuai kebutuhan */
    overflow: hidden;
  }
  
  .parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%; /* Area miring di bagian bawah */
    transform: translateZ(0);
  }
  
  .parallax img {
    width: 100%;
    height: auto;
    transform: translateY(-50%);
  }
  
  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
    text-align: center;
    width: 80%; /* Atur lebar sesuai kebutuhan */
  }
    
  /* Gaya untuk list post dan opsi sort */
  .list-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .sort-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  /* ...style untuk cards post dan title post... */
  .posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .post {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .post h2 {
    margin-top: 0;
  }
  
  .post a {
    text-decoration: none;
    color: blue;
  }

  .news-card {
    display: flex;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .news-image {
    width: 30%;
  }
  
  .news-image img {
    width: 100%;
    height: auto;
  }
  
  .news-content {
    padding: 15px;
    width: 70%;
  }
  
  .news-title {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .news-description {
    color: #555;
  }
  
  .read-more {
    text-decoration: none;
    color: #007bff;
    display: inline-block;
    margin-top: 10px;
  }
/* Kartu berita dengan tata letak horizontal */
.card-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .news-card-container {
    flex: 0 0 calc(25% - 20px); /* 4 kartu per baris dengan jarak 20px */
    margin-bottom: 20px;
  }
  .news-card-container:hover {
    transform: scale(1.05); /* Perubahan skala untuk memberi efek pop-up */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Bayangan untuk memberi efek pop-up */
  }
  /* Mengatur lebar kartu untuk tampilan yang lebih kecil */
  @media screen and (max-width: 1200px) {
    .news-card-container {
      flex: 0 0 calc(33.33% - 20px); /* 3 kartu per baris dengan jarak 20px */
    }
  }
  
  /* Mengatur lebar kartu untuk layar yang lebih kecil lagi */
  @media screen and (max-width: 768px) {
    .news-card-container {
      flex: 0 0 calc(50% - 20px); /* 2 kartu per baris dengan jarak 20px */
    }
  }
  
  /* Mengatur lebar kartu untuk layar sangat kecil atau mobile */
  @media screen and (max-width: 480px) {
    .news-card-container {
      flex: 0 0 100%; /* 1 kartu per baris */
    }
  }
  .pagination {
    margin-top: 20px;
    text-align: center;
  }
  .pagination a, .pagination span {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    cursor: pointer;
  }
  .pagination a:hover {
    background-color: #f0f0f0;
  }
  .pagination a.active {
    background-color: orange;
    color: white;
  }